{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!--FavIcon-->

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container-fluid height-200px" style="background-image: url(../static/bg.jpg); width:90%;height: 500px; margin-top:-10em;">
<div class="row">
<h1 style="font-weight: 800; color: #fff; padding-top: 5em; padding-left: 1em;">Welcome.</h1>
<div class="row" style="height:20px;"> </div>
<h3 style="font-weight: 300; color: #fff; padding-left: 1em;">Millions of movies, TV shows and people to discover. Explore now.</h3>
</div>
<div class="row" style="height:50px;"> </div>
<div class="row">
    <form class="" style="padding-left: 1em;">
        <div class = "row"> 
            <div class="col-lg-10 col-xs-8 col-sm-4 col-md-4">
                <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control" style="height: 50px;border-radius:40px">
            </div>
            <div class="col-xs">
                <input type="submit"  value="Submit" class="btn btn-oval" style="width: 120px;
                height: 50px; background-color:#00c7ce;border: none;color:#fff; border-radius:40px">
            </div>
        </div>
    </form>
</div>
</div>

<div class="container">

    <!-- Popular movie -->
    <div class="row">
        <h3> Popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>
    </div>
    <!-- Upcoming movie  -->
    <div class="row">

        <h3> Upcoming Movies </h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
    </div>

    <!-- Now showing movie -->
    <div class="row">

        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
    </div>

</div>



{% endblock%}