{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website</title>
    {% endif %}
</head>
<body>
    <h1> Hello Movie  </h1>
</body>
</html> -->
<!--Adding content Block To replace original page-->
    
    <!--CONTENT BLOCK-->
    {% block content %}
        <div class="container">
            <!--Poster background-->
            <div class="row">
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 posterPath">
                    <h3>{{ movie.title }}</h3>
                    <p class="overview"> {{movie.overview}} </p>
                    <p class="ratings"> <b> {{movie.ratings}} </b> <i>{{ movie.vote_count}} votes </i> </p>
                </div>
            </div>
        </div>


    {% endblock %}